.feature img {
    border-radius: $default-border-radius;
    @include size(100% auto);
}

.customer img {
    border-radius: $default-border-radius;
    @include size(150px);
}

.testimonials {
    background: $blue;
    color: $white;
    text-align: center;

    .name {
        display: block;
    }

    .quote {
        font-style: italic;
        font-family: $serif;
    }

    h2 {
        padding: 40px 0 40px;
    }
}
